@model SN_WebMVC.Models.FullProjectViewModel

@{
    ViewBag.Title = "Projeto";
    Html.RenderPartial("_SideBar");
}
<div class="wa-container">

    <h2>Projeto</h2>
    <hr />

    <div style="display:flex;flex-direction:column;justify-content:space-around;">

        <div style="display:flex;flex-direction:row;justify-content:flex-start;align-items:baseline;">
            <h3 style="margin: 0 20px;">Titulo</h3>
            <h4 style="margin: 0 20px;">Descricao</h4>
        </div>

        <div style="display:flex;flex-direction:row;justify-content:flex-start;margin:40px 0;">
            <input type="text" name="name" placeholder="Comentários" />
            <button class="btn btn-default">
                Upload
            </button>
        </div>

    </div>



</div>
