@model IEnumerable<SN_WebMVC.Models.ProjectViewModel>

@{
    ViewBag.Title = "Projetos";
    Html.RenderPartial("_SideBar");
}
<div class="wa-container">

    <h2>Meus projetos</h2>

    <a href="/Project/Create" class="btn btn-default" style="margin:10px 0 20px 0;">Novo projeto</a>
    <div style="display:flex;flex-direction:row;flex-wrap:wrap;">
        @foreach(var item in Model)
        {
            <div style="display:flex;flex-direction:column;border:2px solid #ededed;padding:15px;margin:25px 10px;">
                <div style="display:flex;flex-direction:column;justify-content:flex-start;">
                    <p style="margin-bottom:0px !important;">Laboratório:</p>
                    <h2 style="margin-top:0px !important;">@item.Titulo</h2>
                </div>
                <p>@item.Descricao</p>
                <p>@item.DataCriacao</p>
                <div class="text-center">
                    <form action="/Project/Home/@item.Id" method="get">
                        <button class="btn btn-default">
                            Entrar
                        </button>
                    </form>
                </div>
            </div>

        }
    </div>
        <div class="form-group">
            <a href="/Home/Index">Retornar</a>
        </div>
    </div>
