<div class="wa-sidebar">

    <div class="wa-left-btn-resize">
        <button class="btn wa-resize-left">
            <span class="glyphicon glyphicon-circle-arrow-left"></span>
        </button>
        @*<button class="btn wa-resize-right">
            <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </button>*@
    </div>

    @if (Session["picture_profile"] != null)
    {
        var url = Session["picture_profile"];
        <img src=@url alt="profile" class="wa-profile-pic" />
    }
    else
    {
        <img src="\Content\images\default-profile-pic.png" alt="default-picture" class="wa-profile-pic" />
    }

    <form action="/Home/Perfil" method="get" class="text-center" style="margin-bottom:25px;">
        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-user"></span> Ver perfil</button>
    </form>

    <hr />  
    <ul class="nav nav-stacked text-center">

        <li class="nav-item">
            <a href="/Home/Index"><span class="glyphicon glyphicon-home"></span> Home</a>
        </li>
        <li class="nav-item">
            <a href="/Laboratory/Index"><span class="glyphicon glyphicon-th-list"></span> Meus laboratórios</a>
        </li>
        <li class="nav-item">
            <a href="/Project/Index"><span class="glyphicon glyphicon-file"></span> Meus projetos</a>
        </li>
        <li class="nav-item">
            <a href="#">Conexões</a>
        </li>
        <li class="nav-item">
            <a href="/Galery/Index">Galeria</a>
        </li>

    </ul>
    <hr />  

    <img src="~/Content/images/Logo1_5.png" alt="Logo" height="50" style="margin:20px 35px;" />

</div>