<div class="wa-sidebar">

    @if(Session["picture_profile"] != null) {
        var url = Session["picture_profile"];
        <img src=@url alt="profile" class="wa-profile-pic" />
    } else {
        <img src="..\Content\images\default-profile-pic.png" alt="default-picture" class="wa-profile-pic" />
    }

    <ul class="nav nav-stacked">

        <li class="nav-item">
            <a href="../Home/Index">Home</a>
        </li>
        <li class="nav-item">
            <a href="../Laboratory/Index">Meus laboratórios</a>
        </li>
        <li class="nav-item">
            <a href="../Project/Index">Meus projetos</a>
        </li>
        <li class="nav-item">
            <a href="#">Conexões</a>
        </li>
        <li class="nav-item">
            <a href="#">Explorar</a>
        </li>

    </ul>

    <hr />

    <form action="/Home/Perfil" method="get">
        <button type="submit" class="btn btn-link">Ver perfil</button>
    </form>
</div>