<div class="wa-sidebar">

    @if (Session["picture_profile"] != null)
    {
        var url = Session["picture_profile"];
        <img src=@url alt="profile" class="wa-profile-pic" />
    }
    else
    {
        <img src="\Content\images\default-profile-pic.png" alt="default-picture" class="wa-profile-pic" />
    }

    <form action="/Home/Perfil" method="get" class="text-center" style="margin-bottom:25px;">
        <button type="submit" class="btn btn-default">Ver perfil</button>
    </form>

    <ul class="nav nav-stacked text-center">

        <li class="nav-item">
            <a href="../Home/Index">Home</a>
        </li>
        <li class="nav-item">
            <a href="../Laboratory/Index">Meus laboratórios</a>
        </li>
        <li class="nav-item">
            <a href="../Project/Index">Meus projetos</a>
        </li>
        <li class="nav-item">
            <a href="#">Conexões</a>
        </li>

    </ul>

    <img src="~/Content/images/Logo1_5.png" alt="Logo" height="50" style="margin:35px;" />

</div>