<div class="wa-sidebar">

    <img src="..\Content\images\pic.png" alt="default-picture" class="wa-profile-pic" />

    <ul class="nav nav-stacked">

        <li class="nav-item">
            <a href="#">Home</a>
        </li>
        <li class="nav-item">
            <a href="#">Meus projetos</a>
        </li>
        <li class="nav-item">
            <a href="#">Conexões</a>
        </li>
        <li class="nav-item">
            <a href="#">Calendário</a>
        </li>
        <li class="nav-item">
            <a href="#">Explorar</a>
        </li>

    </ul>

    <hr />

    <form action="/Home/Perfil" method="get">
        <button type="submit" class="btn btn-link">Perfil</button>
    </form>
</div>