@{ 
    ViewBag.Title = "Ops";
    var erro = ViewBag.Error;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div style="display:flex;flex-direction:column;align-items:center;margin: 50px 0;">
        <h1>Ops...</h1>
        <h2>@(erro == null ? "Tivemos um problema" : erro)</h2>
        <img src="~/Content/images/Logo1_5.png" alt="Logo" height="50" style="margin:5px;"/>
    </div>

</body>
</html>
