/*overwrite*/
body {
    padding-bottom: 0 !important;
}

a {
    color: #000 !important;
    text-decoration:none;
}

a:hover {
    color: #ad4a9c !important;
}

.btn-default:hover {
    color: #fff !important;
    background-color: #ad4a9c !important;
    border-color: #ad4a9c !important;
}
.btn-primary {
    color: #fff;
    background-color: #ad4a9c !important;
    border-color: #ad4a9c !important;
}
.wa-btn-group .btn {
    font-size: 16px; 
}

.wa-hr-pequeno {
    margin: inherit;
}
.wa-hr-grande {
    margin: 10px 0 !important;
}
.nav li a {
    padding: 10px !important;
}
/*fim-overwrite*/

/* INICIO NIGHTMODE */
#btn-lightmode {
    background-color: #b4b4b4 !important;
}

.btn-nightmode-none {
    display:none !important;
}

.nightmode input {
    background: transparent;
    color: #b4b4b4 !important
}

.nightmode button {
    background-color: #ad4a9c;
    color: white;
}

.nightmode button:hover {
    background-color: #fff;
    color: black;
}

.nightmode a {
    color: white !important;
}

.nightmode a:hover {
    color: white !important;
    background-color: #ad4a9c !important;
}

.nightmode p,
.nightmode h1,
.nightmode h2,
.nightmode h3,
.nightmode h4,
.nightmode li {
    color: #b4b4b4 !important;
}

.navbar-nightmode {
    background-color: #1e1e26 !important;
}

.nightmode {
    background-color: #282830 !important;
}

/* FIM NIGHTMODE */

/* MATERIAL ICONS */

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}

/* FIM MATERIAL ICONS*/

.wa-post-botoes button {
    margin: 10px;
}

.wa-post-botoes {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.wa-post-conteudo {
    margin: 15px 0;
    padding: 0 30px 0 20px;
    text-align: justify;
}

.wa-post-info h3{
    margin-top:0px !important;
    margin-right:10px;
}

.wa-post-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
}

.wa-post-autor {
    margin-bottom: 0px;
}

.wa-post-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 5px 10px;
}

.wa-post {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    margin: 10px;
    margin-right: 30px;
    border-bottom: 2px solid #ededed;
}

.wa-feed {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin-right:20px;
    border-right: 2px solid #ededed;
}

.wa-select{
    width: 100% !important;
    height: 34px !important;
}
.wa-container{
    margin-top: 40px;
}

.wa-nav-container {
    margin-left: 12em !important;
    margin: 5px 0;
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items:center;
}

.wa-logo-entrada {
    margin: 80px;
    width: 20em;
    height: auto;
}

.wa-entrada {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.wa-entrada-box {
    /*border: .5px solid #c2c2c2;*/
    border-radius: 8px;
    box-shadow: 10px 10px 35px #C2C2C2;
    margin: 10px;
    padding: 20px 50px;
    max-width:400px;
}

.wa-form {
    width: 100%;
    min-width: 300px;
    padding: 0 10px;
}

.wa-btn-group {
    width: 100%;
    padding: 0 10px !important;
    margin-top: 15px;
}

.wa-profile-search-pic {
    width: 100px;
    height: 100px;
    margin: 20px 0;
    border-radius: 50%;
}

/* INICIO SIDEBAR */

.wa-body-content-margin12 {
    margin-left: 12em !important;
}

.wa-body-content-margin6 {
    margin-left: 6em !important;
}

.wa-resize-btn-none {
    display: none !important;
}

.wa-sidebar-list-pequeno a {
    color: #808080 !important;
}

.wa-sidebar-list-pequeno {
    display: none;
    flex-direction: column;
    justify-content: center;
}

.wa-sidebar-list-grande {
    display: block;
}

.wa-perfil-btn-none {
    display: none;
}

.wa-mini-logo-pequeno {
    height: 40px;
}

.wa-mini-logo-grande {
    margin: 5px 0;
    height: 50px;
}

.wa-profile-pic-grande {
    width: 100px;
    height: 100px;
    margin: 20px 0;
}

.wa-profile-pic-pequeno {
    width: 50px;
    height: 50px;
    margin: 30px 0;
}

.wa-profile-pic {
    border-radius: 50%;
}

.wa-sidebar-grande {
    width: 12em;
}

.wa-sidebar-pequeno {
    display: none;
    width: 6em;
}

.wa-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    left: 0;
    padding: 20px 20px;
    border-right: 1px solid #ccc;
    height: 100%;
    background-color: #f8f8f8;
}

/* FIM SIDEBAR */

.wa-titulo {
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
}

.wa-logo-header {
    width: 300px;
    height: auto;
    margin:0;
    margin-right:10px;
}

.wa-logo-footer {
    width: 350px;
    height: auto;
}

.wa-list {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.wa-perfil-info {
    margin-bottom: 10px;
    padding: 5px;
    font-size: 16px;
}

.wa-perfil-label{
    padding: 5px 0;
    font-weight: 600;
}


.wa-form-control {
    display: block;
    width: 100%;
    height: 42px;
    padding: 0px 20px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
}

@media screen and (max-width: 400px){
    .wa-entrada-box {
        max-width: 310px;
        padding: 20px;
        box-shadow: 4px 4px 20px #C2C2C2;
    }
    .body-content {
        margin-left: 2em;
    }
    .wa-nav-container{
        margin-left: 2em;
    }
    /*navbar responsive*/
}

@media (max-width: 800px){
    .body-content {
        margin-left: 6em;
    }
    .wa-logo-entrada {
        display: none;
    }
    .wa-nav-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 6em;
    }
    .navbar-toggle{
        margin-right: 0px;
    }
    .wa-entrada{
        justify-content: center;
    }
 
}