@model SN_WebMVC.Models.FullLaboratory

@{
    ViewBag.Title = "Home";
    Html.RenderPartial("_SideBar");
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div style="display:flex;flex-direction:column;">

        <div>
            <h1>
                Laboratório:
                @Html.DisplayFor(model => model.Descricao, new { htmlAttributes = new { @class = "control-label" } })
            </h1>
        </div>

        <div>
            <div>
                <h3>Membros</h3>
                @foreach(var usuario in Model.Users) {
                    <div class="membros" style="height:100px; display: flex; flex-direction: row; margin: 0; padding:0;">
                        @Html.DisplayFor(model => usuario.Nome, new { htmlAttributes = new { @class = "control-label col-md-1"} }) <br />
                    </div>
                }
            </div>
        </div>

    </div>
}

<br />

<div>
    @Html.ActionLink("Retornar", "Index")
</div>

