@model SN_WebMVC.Models.FullLaboratory

@{
    ViewBag.Title = "Laboratório";
    Html.RenderPartial("_SideBar");
}
<div class="wa-container">

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
    <div style="display:flex;flex-direction:row;">
        <div style="display:flex;flex-direction:column;width:50%;">

            <div style="margin: 20px 0 40px 0;">
                <h4 style="margin-bottom:0px !important;margin-top:20px !important;">
                    Laboratório
                </h4>
                <h1 style="margin:5px 0 10px 10px !important;font-size:50px;">
                    @Html.DisplayFor(model => model.Descricao, new { htmlAttributes = new { @class = "control-label" } })
                </h1>
            </div>

            <div style="margin: 10px 0 20px 0;">
                <h4>Membros</h4>
                <div class="wa-list">
                    <ul>
                        @foreach (var usuario in Model.Users)
                        {
                            <li>
                                @Html.DisplayFor(model => usuario.Nome)
                            </li>
                        }
                    </ul>

                </div>
            </div>

        </div>
        <div style="width:50%;margin: 20px 40px;">
            <h3>Projetos do laboratório</h3>
            <div class="wa-list" style="height:100px;">
                <ul>
                    @*@foreach (var projeto in Model.Projetos)
                    {*@
                        <li style="list-style-type:none;border-bottom:1px solid #ededed;">
                            <div style="display:flex;flex-direction:row;justify-content:space-between;align-items:flex-end;">
                                <h3>
                                    Titulo
                                    @*@Html.DisplayFor(model => projeto.Titulo)*@
                                </h3>
                                <button class="btn btn-default" style="margin-right:40px;">
                                    Entrar
                                </button>
                            </div>
                            <div>
                                Descricao
                                @*@Html.DisplayFor(model => projeto.Descricao)*@
                            </div>
                        </li>
                    @*}*@
                </ul>
            </div>
        </div>
    </div>
    }

    <div>
        <a href="/Laboratory/Index" class="btn btn-link">Retornar</a>
    </div>

</div>
