@model SN_WebMVC.Models.FullLaboratory

@{
    ViewBag.Title = "Home";
    Html.RenderPartial("_SideBar");
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div style="display:flex;flex-direction:column;">

        <div style="margin: 10px 0 40px 0;">
            <h4 style="margin-bottom:0px !important;">
                Laboratório
            </h4>
            <h1 style="margin:5px 0 10px 10px !important;font-size:50px;">
                @Html.DisplayFor(model => model.Descricao, new { htmlAttributes = new { @class = "control-label" } })
            </h1>
        </div>

        <div>
            <div>
                <h4>Membros</h4>
                @foreach(var usuario in Model.Users) {
                    <div class="membros" style="height:100px; display: flex; flex-direction: row; margin: 0 0 0 10px; padding:0;">
                        @Html.DisplayFor(model => usuario.Nome, new { htmlAttributes = new { @class = "control-label col-md-1"} }) <br />
                    </div>
                }
            </div>
        </div>

    </div>
}

<br />

<div>
    @Html.ActionLink("Retornar", "Index")
</div>

