@model IEnumerable<SN_WebMVC.Models.LaboratoryViewModel>

@{
    ViewBag.Title = "Laboratório";
}

<div class="wa-container">

    <h2>Meus laboratórios</h2>

    <div style="display:flex;flex-direction:row;padding: 10px 0;justify-content:flex-start;margin-bottom:10px;">
        <a href="/Laboratory/Create" class="btn btn-default" style="text-decoration:none;margin-right:20px;">Novo laboratório</a>
        <a href="/Laboratory/Search" class="btn btn-default" style="text-decoration:none;margin-right:20px;">Encontrar laboratório</a>
    </div>

    <div style="display:flex;flex-direction:row;flex-wrap:wrap;">

        @foreach (var item in Model)
        {
            <div style="display:flex;flex-direction:column;justify-content:space-around;border: 2px solid #ededed;padding:15px;margin:25px 10px;">
                <div style="display:flex;flex-direction:column;justify-content:flex-start;align-items:flex-start;margin:50px 25px;">
                    <p style="margin-bottom:0px !important;">Laboratório:</p>
                    <h2 style="margin-top:0px !important;">
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </h2>

                </div>
                <div class="text-center">
                    <form action="/Laboratory/Home/@item.Id" medivod="get">
                        <button type="submit" class="btn btn-default">Entrar</button>
                    </form>
                </div>

            </div>
        }
    </div>

    <div class="form-group">
        <a href="/Home/Index">Retornar</a>
    </div>
</div>
