@model IEnumerable<SN_WebMVC.Models.LaboratoryViewModel>

@{
    ViewBag.Title = "laboratórios";
    Html.RenderPartial("_SideBar");
}

<h2>Meus laboratórios</h2>

<div style="display:flex;flex-direction:row;padding: 10px 0;justify-content:flex-start;">
    <a href="/Laboratory/Create" class="btn btn-primary" style="text-decoration:none;margin-right:20px;">Novo laboratório</a>
    <a href="/Laboratory/Search" class="btn btn-default" style="text-decoration:none;margin-right:20px;">Encontrar laboratório</a>
</div>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>

        
        <td>
            <form action="/Laboratory/Home/@item.Id" method="get">
                <button type="submit" class="btn btn-link">| Entrar | </button>
            </form>
        </td>

        
    </tr>
}

</table>
