@model IEnumerable<SN_WebMVC.Models.LaboratoryViewModel>


@{
    ViewBag.Title = "Search";
    Html.RenderPartial("_SideBar");
}

<h2>Buscar Laboratório</h2>

@using(Html.BeginForm()) {
    <div class="form-horizontal">
        <br />

        <div class="form-group">
            <div class="col-md-10">
                <input type="text" name="description" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Buscar" class="btn btn-default" />
            </div>
        </div>

        <br />
    </div>
}

<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th></th>
    </tr>

    @foreach(var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                | @Html.ActionLink("Entrar", "Edit", new {  id=item.Id }) |
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Retornar", "Index")
</p>
