
@{
    ViewBag.Title = "Galery";
}

<div class="wa-container">

    <h2>Galery</h2>

    <div style="display:flex;flex-direction:column;justify-content:space-around;">
        <div style="display:flex;flex-direction:row;justify-content:space-around;">
            <div style="max-width:200px;max-height:200px;">
                <img src="#" alt="Foto" />
            </div>
        </div>
    </div>

</div>

