<link rel="stylesheet" type="text/css" href="../Content/styles/global.css" media="screen" />
@model SN_WebMVC.Models.ProfileViewModel

@{
    ViewBag.Title = "Home";
    Html.RenderPartial("_SideBar");
}

<h2>Projetos</h2>