@model SN_WebMVC.Models.ProfileViewModel

@{
    ViewBag.Title = "Home";
    Html.RenderPartial("_SideBar");
}

<form>

    <div class="Localizar membros" style="margin-top: 30px; display:flex;">
        @Html.Editor("Pesquisar", new { htmlAttributes = new { @class = "form-control", } })
        <input type="submit" value="Pesquisar" class="btn btn-default" style="margin-left: 2px;"/>
    </div>

</form>
