@model SN_WebMVC.Models.ProfileViewModel

@{
    ViewBag.Title = "Home";
}
<div class="wa-container">

    <div style="display:flex;flex-direction:row; margin: 0 20px;">
        <div class="wa-feed">
            <h2>Feed</h2>
            <div class="wa-list wa-border-top">
                @*--inicio foreach--*@
                <div class="wa-post">
                    <div class="wa-post-header">
                        <div class="wa-post-autor">
                            <h4>Autor</h4>
                        </div>
                        <div class="wa-post-info">
                            <h3>Titulo do post -</h3>
                            <h3>Laboratorio</h3>
                        </div>
                    </div>
                    <div class="wa-post-conteudo">
                        Conteudo do post. Conteudo do post. Conteudo do post. Conteudo do post. Conteudo do post. Conteudo do post. Conteudo do post. Conteudo do post. Conteudo do post. Conteudo do post. Conteudo do post. Conteudo do post. Conteudo do post. Conteudo do post. Conteudo do post. Conteudo do post. Conteudo do post. Conteudo do post. Conteudo do post. Conteudo do post. Conteudo do post.
                    </div>
                    <div class="wa-post-botoes">
                        <button class="btn btn-default">Botao1</button>
                        <button class="btn btn-default">Botao2</button>
                        <button class="btn btn-default">Botao3</button>
                    </div>
                </div>
                @*--fim foreach--*@
                <div class="wa-post">
                    <div class="wa-post-header">
                        <div class="wa-post-autor">
                            <h4>Autor</h4>
                        </div>
                        <div class="wa-post-info">
                            <h3>Titulo do post -</h3>
                            <h3>Laboratorio</h3>
                        </div>
                    </div>
                    <div class="wa-post-conteudo">
                        Conteudo do post. Conteudo do post. Conteudo do post. Conteudo do post. Conteudo do post. Conteudo do post. Conteudo do post. Conteudo do post. Conteudo do post. Conteudo do post. Conteudo do post. Conteudo do post. Conteudo do post. Conteudo do post. Conteudo do post. Conteudo do post. Conteudo do post. Conteudo do post. Conteudo do post. Conteudo do post. Conteudo do post.
                    </div>
                    <div class="wa-post-botoes">
                        <button class="btn btn-default">Botao1</button>
                        <button class="btn btn-default">Botao2</button>
                        <button class="btn btn-default">Botao3</button>
                    </div>
                </div>
            </div>
        </div>
        <div style="display:flex;flex-direction:column;justify-content:flex-start;align-items:flex-start;width:30%;">
            <h4>Buscar membros</h4>
            <form action="/search/Search" method="post">
                <input class="form-control" id="Pesquisar" name="Pesquisar" type="text" placeholder="Digite um nome">
                <input type="submit" value="Pesquisar" class="btn btn-default" style="margin: 10px 0;" />
            </form>
            <img src="\Content\images\gabigordo.jpg" style="width:200px;" alt="hello motherfuckers" />
        </div>

    </div>

</div>
