@model SN_WebMVC.Models.ProfileViewModel

@{
    ViewBag.Title = "Home";
    Html.RenderPartial("_SideBar");
}
<div class="wa-container">

    <div style="display:flex;flex-direction:row; margin: 30px 20px;">
        <div class="wa-feed">
            <h2>Feed</h2>
            <div class="wa-list">
                @*--inicio foreach--*@ 
                <div class="wa-post">
                    <div class="wa-post-info">
                        <h3>Autor</h3>
                        <h3>Titulo do post</h3>
                        <h3>Laboratorio</h3>
                    </div>
                    <div class="wa-post-conteudo">
                        conteudo do post, conteudo do post,conteudo do post,conteudo do post,conteudo do post,conteudo do post,conteudo do post,conteudo do post, conteudo do post,conteudo do post,conteudo do post,conteudo do post,conteudo do post,conteudo do post,conteudo do post,conteudo do post,conteudo do post,
                    </div>
                    <div class="wa-post-botoes">
                        <button class="btn btn-default">Botao1</button>
                        <button class="btn btn-default">Botao2</button>
                        <button class="btn btn-default">Botao3</button>
                    </div>
                </div>
                @*--fim foreach--*@
            </div>
        </div>
        <div style="display:flex;flex-direction:column;justify-content:flex-start;align-items:flex-start;width:30%;">
            <h4>Buscar membros</h4>
            <form action="/search/Search" method="post">
                <input class="form-control" id="Pesquisar" name="Pesquisar" type="text" value="Digite um nome">
                <input type="submit" value="Pesquisar" class="btn btn-default" style="margin: 10px 0;" />
            </form>
        </div>

    </div>

</div>
