<link rel="stylesheet" type="text/css" href="../Content/styles/global.css" media="screen" />
@model SN_WebMVC.Models.ProfileViewModel

@{
    ViewBag.Title = "Home";
}

<h2>Projetos</h2>
<p>nao editamos home ainda</p>   