<link rel="stylesheet" type="text/css" href="../Content/styles/global.css" media="screen" />
@model SN_WebMVC.Models.ProfileViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Projetos</h2>
<h3>lista</h3>
<h3>de</h3>
<h3>projetos</h3>