<link rel="stylesheet" type="text/css" href="../Content/styles/global.css" media="screen" />
@model SN_WebMVC.Models.ProfileViewModel

@{
    ViewBag.Title = "Perfil";

}
<div style="margin:40px 0;">

    <h2>Perfil</h2>
    <hr />

    <ul class="wa-list">

        <li class="wa-perfil-label">
            Nome
        </li>

        <li class="wa-perfil-info">
            Gabriel Couto
            @*@Html.DisplayFor(model => model.Nome)*@
        </li>

        <li class="wa-perfil-label">
            Email
        </li>

        <li class="wa-perfil-info">
            testando@teste.com
            @*@Html.DisplayFor(model => model.Email)*@
        </li>

        <li class="wa-perfil-label">
            Universidade
        </li>

        <li class="wa-perfil-info">
            Instituto Infnet
            @*@Html.DisplayFor(model => model.Universidade)*@
        </li>

        <li class="wa-perfil-label">
            Curso
        </li>

        <li class="wa-perfil-info">
            Engenharia de Software
            @*@Html.DisplayFor(model => model.Curso)*@
        </li>

        <li class="wa-perfil-label">
            Biografia
        </li>

        <li class="wa-perfil-info">
            Apenas um cara
            @*@Html.DisplayFor(model => model.Biografia)*@
        </li>

    </ul>
</div>
<div style="display:flex;flex-direction:row;margin:20px 0;">
    <button class="btn btn-default">@Html.ActionLink("Editar perfil", "Edit", new { /* id = Model.PrimaryKey */ })</button>
    <button class="btn btn-link">@Html.ActionLink("Voltar", "Index")</button>
</div>
